* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

body {
  font-family: "Montserrat", sans-serif;
}

.services {
  text-align: center;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.services__container__start {
  text-align: center;
  font-size: 1em;
  padding-bottom: 2em;
}
.services .service__container {
  width: 100%;
  height: 60vh;
}
.services .online__reading {
  text-align: center;
  width: 100%;
  padding-top: 1em;
}
.services .online__reading__img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  padding: 4em;
}
.services .online__reading__content {
  font-size: 1em;
}
.services .online__reading p {
  font-size: 1em;
}

.shop {
  padding-top: 2em;
  text-align: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../../../images/pexels-cottonbro-studio-4865737.jpg);
}
o .shop__image {
  width: 100%;
  border-radius: 2em;
}
.shop__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 1em;
  font-size: 2em;
}
.shop__content__right {
  width: 80vw;
}
.shop__content__right form {
  padding: 2em;
  border-radius: 2em;
}
.shop__content__right form button {
  padding: 2em;
  border-radius: 2em;
  background-color: #05bfdb;
}

.direction {
  background-color: #0a4d68;
  padding-bottom: 2em;
  text-align: center;
  padding-top: 2em;
  color: white;
}
.direction iframe {
  width: 100%;
  height: 50vh;
}
.direction__content {
  font-size: 1em;
  padding-bottom: 2em;
}

.contact {
  background-image: url("../../../images/john-schnobrich-2FPjlAyMQTA-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.detail__contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-align: center;
  padding: 10em;
  width: 100%;
  color: white;
  margin: 0 auto;
}
.detail__contact__left h1 {
  font-size: 4em;
}
.detail__contact__left button {
  padding: 2em;
  border-radius: 2em;
  background-color: #05BFDB;
}
.detail__contact div {
  width: 100%;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 100%;
  padding: 2em;
  margin: 2em;
  border-radius: 10px;
  border: none;
}

.signup {
  background-image: url(../../../images/);
}