* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

body {
  font-family: "Montserrat", sans-serif;
}

.part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-image: url(../../../images/radek-grzybowski-eBRTYyjwpRY-unsplash.jpg);
  height: 100vh;
  width: 100%;
}
.part .card {
  width: 50%;
  text-align: center;
}