@use "../../utilities/mixins" as *;

.shop{
    &__hero{
        @include flex(center,center,column);
        background-image: url("../../../images/shop3.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 80vh;
        h2{
          font-size: 4rem;
        }
        h3{
          font-size: 4rem;
        }
    }
}