@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;


.detail__container {
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://raw.githubusercontent.com/Exothermic6/Infinite_Knowledge/master/imagesjohn-schnobrich-2FPjlAyMQTA-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  @include flex(space-around,center);
  text-align: center;
  padding: 10em;
  width: 100%;
  color: white;
  margin: 0 auto;
  &__left{
    h1{
      text-align: center;
    font-size: 4em;
    text-align: center;
    }
    button{
      padding:1.5em 3em;
      border-radius: 1em;
      background-color: #05BFDB;
    }
  }
  div {
    width: 100%;
  }
}

 
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input {
  width: 100%;
  padding: 2em;
  margin: 2em;
  border-radius: 10px;
  border: none;
}
