@use "../../utilities/mixins" as *;


.testimonials{
    text-align: center;
    h2{
        font-size: 2em;

    }
}
.home{
    h2{
        padding-bottom: 2em 0;
    }
    button{
        margin: 3em 0;
        font-size: 1.5rem;
    }
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("../../../images/ishaq-robin-caND1D-Kh9Y-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    color: white;
    font-size: 1.5em;
    @include flex(center,center,column);
}

.mission-vision{
    font-size: 1.5rem;
    text-align:center;
    margin-bottom: 4em;
    h2{
        padding: 1em 0;
    }
    button{
        margin: 3em 0;
        font-size: 1.5rem;
    }
}
.recomended{
    text-align: center;
    margin-top: 3em;
    padding: 2em 0;
    h2{
        font-size: 1.5em;
    }

}

