@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;

.footer{
    color: white;
    padding: 3em 0;
    background-color: $dark-blue;
    &__container{
        @include flex(space-between,center); 
    }
    &__social-pages{
        ul{
            li{
                padding-left: 7em;
            }
        }
        img{
            width:5%;
        }
    }
    &__quick-links{
        color: white;
        padding-right: 3em;
        ul li{
            a{
                &:not(first-child):hover{
                    color: black;
                }
                    button{
                        background-color: $blue;
                        margin:  0.5em 0;
                    }
                
            }
    }
    }
}
