@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;

.nav{
    &__container{
        @include flex(space-between,center);
    
    div{
        img{
            padding: 1em;
        }
    }
   }
   &__right{
    @include flex(center,center);
   }
    background-color: $sky-blue;
    &__container__left{
        ul{
            display: flex;
            font-family: $font-2;
            li{
                padding: 0 1em;
                a{
                    &:hover{
                        background-color: $dark-blue;
                        padding: 1em;
                        border-radius: 50px;
                    }
                }
                button{
                    font-size: 1rem;
                }
            }
        }
    }
    }